<!DOCTYPE html> 
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head> 
            <title>Catalago de Produtos</title> 
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> 
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
        <link rel="stylesheet" th:href="@{/css/style.css}" /> 
    </head> 
    <header th:insert="navbar.html">
        
    </header>
    <body> 
            <h1>Lista de Produtos</h1> 
        <img th:src="@{/images/produto.jpg}" height="50px">
            <p>Esses sao todos so produtos atuais da loja</p>   
            <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Status<th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.descricao}"></td>
                    <td onClick="atualizarProduto(this)">
                        <span th:if="${produto.status}"  class="produto-a-venda">A venda</span>
                        <span th:unless="${produto.status}" class="produto-vendido">Esgotado</span>
                    </td>
                    <!--  Usamos a condicional exibir apenas as produtos pem estoque
                     <tr th:each="produto : ${produtos}" th:if="${produto.status}"> 
                         
                     </tr> --> 
            </tbody>
        </table>
        <script th:src="@{/js/script.js}"></script>
    </body> 
</html> 