.produto-vendido{
    color: red;
}
.produto-a-venda{
    color:green;
}

.banner{
    background-image:url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}