<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calculos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="'Cálculos dos valores: ' + ${valor1} + ' e ' + ${valor2}"> </h1>
        <ul>
            <li th:text=" 'Soma: ' + ${soma}"> </li>
            <li th:text=" 'Subtração: ' + ${subtracao}"> </li>
            <li th:text=" 'Multiplicação ' + ${multiplicacao}"> </li>
            <li th:text=" 'Divisão: ' + ${divisao}"> </li>
        </ul>      
    </body>
</html>
