<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Filmes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link id="tema_estilo" href="/css/claro.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head> 
    <body class="d-flex flex-column min-vh-100">
        <header id="header">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-info">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-universal-access"></i>
                            Casa Cultural
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav d-flex justify-content-center w-100">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{lista-filmes}">Filmes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/sobre}">Sobre</a>
                                </li>
                            </ul>
                        </div>
                        <button id="btn_tema" class="btn">
                            <i class="fas fa-adjust"></i>
                        </button>
                    </div>
                </nav>
            </div>
        </header>
        <main class="container  flex-grow-1">
            <div class="row">
                <div class="col-12">
                    <img id="banner" class="img-fluid" height="100px" th:src="@{/imgs/banner.png}">
                </div>
            </div>      
            <div class="container">
                <button id="btn_criar_filme" class="btn btn-success">
                    <i class="fas fa-plus"></i> Criar Filme
                </button>
                <table class="table" id="tabelaFilmes">
                    <thead>
                        <tr>
                            <th scope="col" style="width:20%">Nome do Filme</th>
                            <th scope="col">Sinopse</th>
                            <th scope="col">Genêro</th>
                            <th scope="col" style="width:15%">Ano de Lançamento</th>
                            <th scope="col">Analises</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Operações</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="container">
                <form id="form_analise"  th:action="@{/lista-filmes}" method="post" th:object="${analise}">
                        <div class="mb-3 col-md-6">
                            <label for="filmeSelecionado" class="form-label">Escolha o Filme</label>
                            <select class="form-select" id="filmeSelecionado" aria-label="Escolha um filme">

                            </select>
                        </div>       
                        <div class="mb-3 col-md-6">
                            <label for="comentario" class="form-label">Analise</label>
                            <input type="text" id="comentario" class="form-control" placeholder="Digite sua analise sobre o filme">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="nota" class="form-label">Escolha uma nota de 1 a 10</label>
                            <select class="form-select" id="nota" aria-label="Escolha um número">
                                <option selected value="0">Selecione uma nota</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <button id="btn_salvar_analise" type="button" class="btn btn-info">Avaliar</button>
                        </div>          
                </form>
            </div>

            <div class="modal fade" id="modal_editar_filme" tabindex="-1" aria-labelledby="modalEditarFilmeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditarFilmeLabel">Atualizar Filme</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form_atualizar_filme">
                                <input type="hidden" id="id">
                                <div class="mb-3">
                                    <label for="titulo" class="form-label">Título</label>
                                    <input type="text" id="titulo" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="sinopse" class="form-label">Sinopse</label>
                                    <textarea class="form-control" id="sinopse" rows="4"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="genero" class="form-label">Gênero</label>
                                    <input type="text" id="genero" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="ano_lancamento" class="form-label">Data de Lançamento</label>
                                    <input type="date" id="ano_lancamento" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-info">Atualizar</button>
                            </form>
                            <div id="alert_message" class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="display:none;">
                                <strong>Sucesso!</strong> O filme foi atualizado com sucesso.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirmar_delete" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-title">
                            <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <p id="confirmMessage">Você tem certeza que deseja realizar esta ação?</p>
                            <input type="hidden" id="id_para_deletar">
                        </div>
                        <div class="modal-footer" id="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_cancelar">Não</button>
                            <button type="button" class="btn btn-primary" id="btn_confirmar">Sim</button>
                        </div>
                        <div id="delete_message" class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="display:none;">
                            <strong>Sucesso!</strong> O filme foi deletado com sucesso.
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal  mt-4" id="modal_criar_filme" tabindex="-1" aria-labelledby="modalCriarFilmeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarFilmeLabel">Criar Novo Filme</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form_criar_filme">
                                <div class="mb-3">
                                    <label for="titulo" class="form-label">Título</label>
                                    <input type="text" id="titulo_filme" class="form-control" placeholder="Título do Filme" required>
                                </div>
                                <div class="mb-3">
                                    <label for="sinopse" class="form-label">Sinopse</label>
                                    <textarea id="sinopse_filme" class="form-control" rows="3" placeholder="Descrição do Filme" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="genero" class="form-label">Gênero</label>
                                    <input type="text" id="genero_filme" class="form-control" placeholder="Ação, Drama, etc." required>
                                </div>
                                <div class="mb-3">
                                    <label for="ano_lancamento" class="form-label">Ano de Lançamento</label>
                                    <input type="date" id="ano_lancamento_filme" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <div id="sucess_message" class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="display:none;">
                                    <strong>Sucesso!</strong> O filme foi criado com sucesso.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




        </main>          
        <footer th:replace="footer.html :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
