<footer th:fragment="footer">
    <div class="container-fluid  bg-info">
        <div class="row">
            <div class="col-8">
                <div class="d-flex justify-content-start gap-5">
                    <p>Minas Gerais</p>
                    <p>Belo Horizonte</p>
                    <p>Bairro Digital</p>
                    <p>Rua Rede 391</p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <span>
                    &copy; 2024 Andre Mendes
                </span>
            </div>
        </div>

</footer>